.app {
  width: 100vw;
  height: 100vh;
  scroll-behavior: none;
  overflow: hidden;
}

#v-map {
  width:100vw;
  height:100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}

.errorBoundary {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}
